{% extends "base.html" %}
{% block title %} 404 {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/404.css">
{% endblock %}

{% block content %}
<div class="main-block">
	<div class="title-block">
		<span>404</span>
		<h2 class="error-title">
			Página no encontrada
		</h2>
	</div>
	<div class="error-block">
		<h3 class="error-subtitle">¿En donde estoy?</h3>
		<ol>
			<li>- Compruebe que la URL que ha introducido es correcto.</li>
			<li>- Asegúrese de que el sitio que va a visitar no se encuentra en mantenimiento.</li>
			<li></li>
		</ol>
	</div>
</div>
{% endblock %}
