{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/home.css">
{% endblock %}

{% block content %}

{% if flash %}
<div class='noti-banner noti-banner-warning'>
  <div class="container">
    <div class="noti-column">
      <div class='noti-col noti-col-icon'></div>
      <div class='noti-col noti-col-label'>
        <div class='noti-bannertype'>
          {% if status=='error' %}
          Advertencia
          {% elif status=='success' %}
          Aviso
          {% endif %}
        </div>
      </div>
      <div class='noti-banner-text'>
        {{ flash }}
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="hero splash p-less is-fullheight-with-navbar" id="home-hero">
  <div class="container flex">
    <div class="columns flex-vcenter">
      <div class="column flex-vcenter flex-lcenter is-size-2-desktop is-size-1-fullhd" id="title">
        <h1 class="title is-spaced is-size-2-desktop is-size-1-fullhd">Bienvenido a {{ appName() }}</h1>
        <h2 class="subtitle">
          Somos un servidor privado de osu! basados en <a href="http://github.com/osuperu/bancho.py">bancho.py</a> 
          y <a href="https://github.com/osuperu/bpy-web">guweb</a>. Este servidor se encuentra en constante 
          desarrollo así que espera de nuevas características con el pasar de los días.

        </h2>
        {% if not session.authenticated %}
        <div class="buttons">
          <a class="button is-primary" href="/register">
            <strong>Registrarse</strong>
          </a>
          <a class="button is-light" href="/login">
            Iniciar sesión
          </a>
        </div>
        {% endif %}
      </div>
      <div class="column flex flex-lcenter" id="mascot">
        <div class="gulag-avatar"></div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container has-text-centered py-4">
    <h2 class="title mb-6">Algunas de nuestras características más interesantes</h2>
    <div class="columns has-text-left mb-6">
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-address-card"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">PP para Relax y Autopilot</h4>
            <p class="subtitle is-6">Nuestro servidor tiene una única formula de PP para relax y autopilot.
              ¿Eres bueno agitando el cursor o destrozando tu teclado? ¡Únete a {{ appName() }} y obtén una recompensa por
              tus habilidades!
            </p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-ambulance"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">osu!direct Gratuito</h4>
            <p class="subtitle is-6">No tendrás que pagar por osu!supporter para tener una experiencia de juego cómoda en el
              juego. ¡osu!direct está disponible para todos!
            </p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-archive"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">Una librería flexible</h4>
            <p class="subtitle is-6">Estamos desarrollados sobre la libreria multipropósito de cmyui, lo que permite un entorno 
              totalmente completamente asíncrono, mejorando tanto el rendimiento como la experiencia del usuario a largo plazo.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if not session.authenticated %}
<section class="hero splash">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-spaced">¿Que estás esperando?</h1>
      <h2 class="subtitle">¡Únete a {{ appName() }}! No hay riesgos.
        Si juegas con nosotros, tu cuenta no será baneada de los servidores oficiales. Y no te preocupes, siempre puedes cambiar
        entre los servidores oficiales y nosotros en cualquier momento.
      </h2>
      <div class="buttons is-centered"><a class="control button is-primary" href="/register">Regístrate gratis</a><a
          class="control button is-light" href="/login">Iniciar sesión</a></div>
    </div>
  </div>
</section>
{% endif %}

{% endblock %}
