{% extends 'base.html' %}
{% block title %} Verify {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/verify.css">
{% endblock %}

{% block content %}
<div class="main-block is-marginless is-paddingless is-auth">
    <div class="columns pm-reset is-weeb">
        <div class="column title-block">
            <div class="titlewithsub">
                <h1 class="title is-left">Como verificar su cuenta</h1>
                <!-- <h2 class="subtitle">What do you mean? This must be easy right?</h2> -->
            </div>
        </div>
        <div class="column icon-block">
            <i class="fas fa-user-circle is-headericon"></i>
        </div>
    </div>
    <div class="columns pm-reset flex-lcenter is-block">
        <div class="box is-padding">
            <div class="bordertitle">
                <div class="titlewithsub">
                    <h1 class="title is-left">Verificación</h1>
                    <h2 class="subtitle">Siga estos tres sencillos pasos para empezar a jugar en {{ appName() }}!</h2>
                </div>
            </div>
            <div class="howto-content">
                <div class="columns is-paddingless is-marginless">
                    <div class="column" id="howto">
                        <img class="thumbnail" src="/static/images/required.png" />
                        <div class="howto-info flex">
                            <div class="big-number flex flex-lcenter flex-vcenter">
                                <div class="howto-number">1</div>
                            </div>
                            <div class="howto-withsub">
                                <h1 class="title is-left">Acceso directo de osu!</h1>
                                <h2 class="subtitle">Busca tu acceso directo de osu! y cópielo.</h2>
                            </div>
                        </div>
                    </div>
                    <div class="column" id="howto">
                        <img class="thumbnail" src="/static/images/required.png" />
                        <div class="howto-info flex">
                            <div class="big-number flex flex-lcenter flex-vcenter">
                                <div class="howto-number">2</div>
                            </div>
                            <div class="howto-withsub">
                                <h1 class="title is-left">Éditelo</h1>
                                <h2 class="subtitle"><strong>1.</strong> Click derecho -> Propiedades <strong>2.</strong> Busca la opción "Destino" <strong>3.</strong> Agrega " -devserver {{ domain() }}" al final de la misma.</h2>
                            </div>
                        </div>
                    </div>
                    <div class="column" id="howto">
                        <img class="thumbnail" src="/static/images/required.png" />
                        <div class="howto-info flex">
                            <div class="big-number flex flex-lcenter flex-vcenter">
                                <div class="howto-number">3</div>
                            </div>
                            <div class="howto-withsub">
                                <h1 class="title is-left">Acceda a su cuenta</h1>
                                <h2 class="subtitle">Inicia sesión en tu cuenta de {{ appName() }} y eso sería todo.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bordertitle">
                <div class="titlewithsub">
                    <h1 class="title is-left">Necesito ayuda ;_;</h1>
                    <h2 class="subtitle">Únete a nuestro servidor de Discord para poder ayudarte.</h2>
                </div>
            </div>
            <div class="box flex is-mpadding is-marginless">
                <a href="/discord" class="flex" id="discord"><img
                        src="https://cdn.iconscout.com/icon/free/png-256/discord-2752210-2285027.png"
                        class="discord-logo">
                    <div class="clickhere-title flex flex-vcenter">
                        <h1 class="title">Haz click aquí para unirte a nuestro Discord.</h1>
                    </div>
                </a>
            </div>
            <div class="box is-block is-paddingless is-marginless is-waiting">
                <div class="columns flex is-paddingless is-marginless">
                    <div class="column flex flex-vcenter">
                        <div>
                            <h1 class="title is-left">A la espera de su verificación</h1>
                            <h2 class="subtitle">Siga las sencillas instrucciones indicadas anteriormente y, una vez que haya terminado, recargue esta página.</h2>
                        </div>
                    </div>
                    <div class="column icon-block">
                        <div class="loading-anim">
                            <i class="fas fa-circle-notch is-headericon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
